@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  overflow: auto;
  color: #363636 !important;
  background: #fff;
}

.menu h2 {
  width: 350px;
  float: left;
  font-size: 3rem;
  padding: 10px 0 20px 10px;
  font-family: "Mark Pro Heavy";
  color: #363636;
}

.menu a {
  color: #363636 !important;
}

.menu svg {
  font-size: 2.5rem !important;
  margin-bottom: 20px !important;
  margin-left: 3px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
  font-size: 1rem !important;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* Mobile */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
    color: #242424 !important;
  }
}